.top-content {
    display: flex;
    justify-content: space-evenly;
}

.top-content img {
    margin-top: 10px;
    width:126px;
    height:126px;
}

.top-content .personal-information {
    margin-left:10px;
    text-align: center;
}

.top-content .personal-information .buttons button {
  margin: 0;
  outline: none;
  padding: 12px;
  position: relative;
  text-align: center;
  border-radius: 20px
}

.button-theme-1 {
    background: limegreen;
    color:white
}

.content-wrapper {
    width: 100vw;
}

.content-wrapper .top-content {
    background: #4faff3;
    padding: 20px;
    display: flex;
}


.middle-content {
    display: flex;
    flex-direction: column;
    margin: 20px
}

.middle-content .left-side {
    display:flex;
    flex-direction: column;
}

.middle-content .right-side {
    display:flex;
}

.middle-content .right-side .labels {
    font-weight: bold;
    padding-right:20px;
}

footer {
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    padding: 20px;
    background: gainsboro;
}
