body {
    display:grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.top-nav {
    display: grid;
    grid-column: 1/12;
    grid-row: 1;
    grid-template-columns: subgrid;
}

.top-nav .links {
    grid-column: 5/10;
    grid-row: 1;

}

.content-wrapper {
    grid-column: 1/12;
    grid-row: 2
}

footer {
    grid-column: 1/12;
    grid-row: 4;
    background: lightgray;
    width: 100%;
}


.top-content img {
    margin-top: 10px;
    width:126px;
    height:126px;
}

.top-content .personal-information {
    margin-left:10px;
    text-align: center;
}

.button {
  margin: 0;
  outline: none;
  padding: 12px;
  position: relative;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
  background-color: white;
  text-decoration: none;
  color:black;
}

.button:hover {
    opacity: 0.8;
}

.button.button-theme-1 {
    background-color: limegreen;
    color:white
}


.content-wrapper .top-content {
    background: #4faff3;
    padding: 20px;
    display: flex;
}


.middle-content {
    display: flex;
    flex-direction: column;
    margin: 20px
}

.middle-content .left-side {
    display:flex;
    flex-direction: column;
}

.middle-content .right-side {
    display:flex;
}

.middle-content .right-side .labels {
    font-weight: bold;
    padding-right:20px;
}


